<div class="root">
  <div *ngIf="view === 'calculator'" class="layout">
    <div class="header">
      <input type="number" class="input" readonly [value]="value" />
    </div>
    <div class="buttons">
      <button
        *ngFor="let button of buttons"
        class="button button--type-{{ button.type }}"
        (click)="handleClick(button)"
      >
        {{ button.value }}
      </button>
    </div>
  </div>
  <div *ngIf="view === 'doneMenu'" class="done-menu">
    <button
      *ngFor="let button of buttonsDone"
      class="button button--type-{{ button.type }}"
      (click)="handleClick(button)"
    >
      {{ button.value }}
    </button>
  </div>
</div>
